<div class="container">
	<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <a class="btn btn-primary btn-block">ログイン</a>
      <a class="btn btn-primary btn-block" style="margin-top: 10px" [routerLink]="['/customer-list']">顧客情報一覧画面</a>
      <a class="btn btn-primary btn-block" style="margin-top: 10px" [routerLink]="['/customer-items']">顧客情報明細</a>
      <a class="btn btn-primary btn-block" style="margin-top: 10px" [routerLink]="['/register-sales']">顧客情報明細</a>
    </div>
	</div>
</div>
<router-outlet></router-outlet>